{% extends 'base.html' %}

{% block content %}


    <h1>オリジナル単語帳作成</h1>   
        <p>
            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{%url 'accounts:signup'%}'">アカウント登録</button>
            <button type="button" class="btn btn-primary btn-sm" onclick="location.href='{%url 'accounts:login'%}'">ログイン</button>
        </p>


    <p>ブラウザーでオリジナルの単語帳を作ることができます。<br>
        重要な単語や覚えられない単語などを整理しましょう！
    </p>
    <p><a href="{%url 'wordsapp:details'%}">このアプリについて</a></p>
    
{% endblock content %}