{% extends 'base.html' %}

{% block title %}オリジナル単語帳{% endblock %}

{% block content %}
<body>
<h2>英単語を登録してください</h2>

{% block contents %}
<form method="POST">
        {% csrf_token %}
        <table>
        <tr>
            <th>カテゴリ</th>
            <td>{{ form.category }}</td>
        </tr>
        <tr>
            <th>英単語</th>
            <td>{{ form.question }}</td>
        </tr>
        <tr>
            <th>意味</th>
            <td>{{ form.answer }}</td>
        </tr>
        <tr>
            <th>暗記済み</th>
            <td>{{ form.memory }}</td>
        </tr>
        </table>
        <hr>
        <button type="submit">登録する</button>
    </form>        
      {% endblock %}
</body>
{% endblock content %}