{% extends 'base.html' %}

{% block title %}オリジナル単語帳{% endblock %}

{% block content %}
<h2 class="mt-4 border-bottom">単語一覧</h2>
<p>
<form action="" method="get">
    <input name="query" value="{{ request.GET.query }}" type="text">
    <button type="submit" class="btn btn-primary btn-sm">英単語を検索する</button> 
</form>
</p>

<p>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{%url 'wordsapp:post'%}'">英単語追加</button>
<button type="button" class="btn btn-primary btn-sm" onclick="location.href='{%url 'accounts:logout'%}'">ログアウト</button>
</p>



  <table class="table table-sm">
    <thead>
    <tr>
        <th scope="col">英単語</th>
        <th scope="col">品詞</th>
        <th scope="col">意味</th>
        <th scope="col">暗記済み</th>
        <th scope="col">編集</th>
        <th scope="col">削除</th>
    </tr>
    </thead>
    {% for data in object_list %}
        <tr>
            <td>{{ data.question }}</td>
            <td>{{ data.category }}</td>
            <td>{{ data.answer }}</td>
            {% if data.memory %}
            <td>{{ 'Yes' }}</td>
            {% elif data.memory == False %}
            <td>{{ 'No' }}</td>
            {% endif %}

            <td><a href="{% url 'wordsapp:update' data.pk %}" class="btn btn-outline-primary btn-sm">編集</a></td>
            <td><a href="{% url 'wordsapp:delete' data.pk %}" class="btn btn-outline-danger btn-sm">削除</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock content %}