{% block title %}アカウント登録{% endblock %}

      {% block contents %}
      
      <hr>
      <div class="container">
      
        <div class="row">
      
          <div class="col offset-2">
            <h3>新規アカウント登録画面</h3>
      
            <form method = "post">
              {% csrf_token %}
      
              {% for field in form %}
               <p>
      
                 {{ field.label_tag }}<br>
      
                 {{ field }}
      
                 {% if field.help_text %}
                   <small style="color: grey">{{ field.help_text }}</small>
                 {% endif %}
      
                 {% for error in field.errors %}
                   <p style="color: red">{{ error }}</p>
                 {% endfor %}
               </p>
             {% endfor %}
              <p style="color:red">
                ※メールアドレスはパスワードをリセットする際に必要になりますので、
                登録をお願いします。
              </p>
              
              <input type="submit" value="Sign up">
            </form>
            
            <br>
            <p><a href="{% url 'wordsapp:index' %}">
              登録をやめてトップページに戻る</a>
            </p>
          </dv>
        </dv>
      </dv>
      {% endblock %}