{% extends 'base.html' %}

{% block content %}


  <h2>新規アカウント登録</h2>
    
  <p style="color:red">
    ユーザ名、パスワードを登録してしてください。<br>
    メールアドレスはパスワードをリセットする際に必要ですが、必須ではありません。
  </p>

<form method = "post">
  {% csrf_token %}

<!--フィールドを取り出す-->
  {% for field in form %}

    <p>
<!--ラベルを出力-->
      {{ field.label_tag }}<br> 

<!--<input>タグを出力-->
      {{ field }}

<!--注意書きを出力-->
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}

<!--エラー発生時の警告文を出力-->
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}


  <input type="submit" class="btn btn-primary btn-sm" value="登録する">

</form>
<br>

<p><a href="{% url 'wordsapp:index' %}">
  登録をやめてトップページに戻る</a>
</p>
      
{% endblock content %}